<ion-header>
  <ion-toolbar>
    <ion-title color="warning">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <img src="https://thumbs.dreamstime.com/b/man-forgot-password-vector-illustration-man-forgot-password-185582138.jpg">

    <ion-text color="warning">
      <h3>FORGOT PASSWORD?</h3>
    </ion-text>
    <P>No worries! Enter your email and we will send you a reset.</P>
    <ion-card>

      <ion-item>
        <ion-label position="stacked" color="warning">Email</ion-label>
        <ion-input  [(ngModel)]="email" name="Email"></ion-input>
        <ion-icon color="warning" name="mail" slot="start"></ion-icon>
      </ion-item>
      <ion-button expand="full" shape="round" color="warning" (click)="forgot()">Send Request</ion-button>
    </ion-card>
  </div>
</ion-content>