ion-title{
    text-align: center;
}
img{
    background: rgba(199, 162, 42, 0.493);
    // border-radius: 30px;
    font-size: 25px;
    text-align: center;
    // margin-right: 10px;
    // border-radius:50%;
    display:inline-block;
    // padding:5px;
    height:200px;
    width: 100%;
}
ion-card{
    width:100%;
}